<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fourth Research Entry </h1>
    <form action = "{% url 'frt_rch_insert' %}" method = 'POST'>
        {% csrf_token %}
        <label for = ''>Title : </label>
        <input type = 'text' name = 'frt_rch_title'><br><br>
        <label for = ''>Description : </label>
        <input type = 'text' name = 'frt_rch_description'><br><br>
        <input type = 'submit'><br><br>
</body>
</html>