<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fun Fact Three Description Entry </h1>
    <form action = "{% url 'thd_fn_fct_insert' %}" method = 'POST'>
        {% csrf_token %}
        <label for = ''>Years : </label>
        <input type = 'text' name = 'thd_fn_fct_yrs'><br><br>
        <label for = ''>Description Line 1 : </label>
        <input type = 'text' name = 'thd_fn_fct_on_description'><br><br>
        <label for = ''>Description Line 2 : </label>
        <input type = 'text' name = 'thd_fn_fct_tw_description'><br><br>
        <input type = 'submit'><br><br>
</body>
</html>