<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Information Entry</h1>
    <form action="{% url 'about_me_insert' %}" method='POST'>
        {% csrf_token %}
        <label for="">Description :</label>
        <input type='text' name = 'a_description'><br><br>
        <label for="">Name :</label>
        <input type='text' name = 'a_name'><br><br>
        <label for="">Age :</label>
        <input type='text' name = 'a_age'><br><br>
        <label for="">Occupation :</label>
        <input type='text' name = 'a_occupation'><br><br>
        <label for="">Phone :</label>
        <input type='text' name = 'a_phone'><br><br>
        <label for="">Email :</label>
        <input type='text' name = 'a_email'><br><br>
        <label for="">Nationality :</label>
        <input type='text' name = 'a_nationality'><br><br>
        <input type='submit'><br><br>
    </form>
</body>
</html>