<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Testimonial Description</h1>
    <form action = "{% url 'f_insert' %}" method = 'POST'>
        {% csrf_token %}
        <label for="">Customer Name : </label>
        <input type = 'text' name = 'f_name'><br><br>
        <label for="">Customer Designation : </label>
        <input type = 'text' name = 'f_designation'><br><br>
        <label for="">Customer Company : </label>
        <input type = 'text' name = 'f_company'><br><br>
        <label for="">Customer Description : </label>
        <input type = 'text' name = 'f_feed'><br><br>       
        <input type = 'submit'><br><br>
</body>
</html>