<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Service's Information Entry</h1>
    <form action="{% url 'srvc_insert'%}" method = 'POST'>
        {% csrf_token %}
        <label for="">Service's Tilte : </label>
        <input type = 'text' name = 's_title'><br><br>
        <label for="">Service's Description : </label>
        <input type = 'text' name = 's_description'><br><br>       
        <input type = 'submit'><br><br>
    </form>
</body>
</html>